{% extends 'warehouse/base.html' %}
{% block content %}
<div class="container-fluid">
    <h3 class="mt-4">Mahsulotlar</h3>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMahsulotModal" data-tooltip="Mahsulot qo'shish">
        Mahsulot qo'shish
    </button>
    <div class="card shadow mt-4 mb-5">
        <div class="card-body">
            <div class="table-responsive mt-4">
                <table id="mahsulot-table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nomi</th>
                            <th>Kategoriya</th>
                            <th>Qadoq</th>
                            <th>Quti</th>  
                            <th>Massa</th>
                            <th>Miqdori</th>
                            <th>Kelgan sana</th>
                            <th>Tavsifi</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mahsulot in mahsulotlar %}
                        <tr>
                            <td>{{ mahsulot.nomi }}</td>
                            <td>{{ mahsulot.kategoriya }}</td>
                            <td>{{ mahsulot.qadoq }}</td>
                            <td>{{ mahsulot.quti }}</td>
                            <td>{{ mahsulot.massa }}</td>
                            <td>{{ mahsulot.miqdori }}</td>
                            <td>{{ mahsulot.kelgan_sana }}</td>
                            <td>{{ mahsulot.tavsifi }}</td>
                            <td>
                                <button class="btn btn-sm btn-primary add-existing-product" data-id="{{ mahsulot.id }}"  data-tooltip="Mahsulot qo'shish">
                                    <i class="fas fa-plus fa-sm"  aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-sm btn-secondary send-product-icon" data-send-product-id="{{ mahsulot.id }}" data-tooltip="Mahsulot jo'natish" data-toggle="modal"
                                    data-target="#sendProductModal">
                                    <i class="fas fa-minus fa-sm" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" data-product-id="{{ mahsulot.id }}" data-tooltip="Mahsulot o'chirish">
                                    <i class="fas fa-trash-alt delete-product-icon" data-toggle="modal" data-target="#confirmDeleteModal"></i>
                                </button>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" style="z-index: 1200;" id="addMahsulotModal" tabindex="-1" role="dialog" aria-labelledby="addMahsulotModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMahsulotModalLabel">Add Mahsulot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add Mahsulot Form -->
                <form id="addMahsulotForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nomi">Name:</label>
                            <input type="text" class="form-control" id="nomi" name="nomi" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="kategoriya">Category:</label>
                            <input type="text" class="form-control" id="kategoriya" name="kategoriya">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="qadoq">Qadoq:</label>
                            <input type="number" class="form-control" id="qadoq" name="qadoq" min="0">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="quti">Quti:</label>
                            <input type="number" class="form-control" id="quti" name="quti" min="0">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="massa">Massa:</label>
                            <input type="number" class="form-control" id="massa" name="massa" min="0">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="miqdori">Quantity:</label>
                            <input type="number" class="form-control" id="miqdori" name="miqdori" min="0" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tavsifi">Description:</label>
                        <textarea class="form-control" id="tavsifi" name="tavsifi" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Mahsulot</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- add existing product modal -->
<div class="modal fade" style="z-index: 1200;" id="addExistingProductModal" tabindex="-1" role="dialog"
    aria-labelledby="addExistingProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExistingProductModalLabel">Add Existing Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add Existing Product Form -->
                <form id="addExistingProductForm">
                    <input type="hidden" id="existingProductId" name="id">
                    <div class="form-group">
                        <label for="existingProductName">Product Name:</label>
                        <input type="text" class="form-control" id="existingProductName" name="existingProductName"
                            readonly>
                    </div>
                    <div class="form-group">
                        <label for="existingProductCategory">Category:</label>
                        <input type="text" class="form-control" id="existingProductCategory"
                            name="existingProductCategory" readonly>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="existingProductQadoq">Qadoq:</label>
                            <input type="number" class="form-control" id="existingProductQadoq"
                                name="existingProductQadoq" min="0" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="existingProductQuti">Quti:</label>
                            <input type="number" class="form-control" id="existingProductQuti"
                                name="existingProductQuti" min="0">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="existingProductMassa">Massa:</label>
                            <input type="number" class="form-control" id="existingProductMassa"
                                name="existingProductMassa" min="0" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="existingProductQuantity">Quantity:</label>
                            <input type="number" class="form-control" id="existingProductQuantity"
                                name="existingProductQuantity" min="0" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="existingProductDescription">Description:</label>
                        <textarea class="form-control" id="existingProductDescription" name="existingProductDescription"
                            rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Existing Product</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal for sending product -->
<div class="modal fade" id="sendProductModal" tabindex="-1" role="dialog" aria-labelledby="sendProductModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input type="hidden" id="send-product-id" name="send-product-id">
            <div class="modal-header">
                <h5 class="modal-title" id="sendProductModalLabel">Send Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sendProductQuantity">Quantity:</label>
                    <input type="number" class="form-control" id="sendProductQuantity" name="sendProductQuantity"
                        min="1" required>
                </div>
                <div class="form-group">
                    <label for="customerSelect">Select Customer:</label>
                    <select class="form-control" id="customerSelect" name="customerSelect" required>
                        <!-- Option elements for customers should be populated dynamically -->
                        {% for customer in customers %}
                            <option value="{{customer.id}}">{{customer.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="sendProductButton">Send</button>
            </div>
        </div>
    </div>
</div>


<!-- Confirmation Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>


<!-- toast -->
<div aria-live="polite" aria-atomic="true" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
    <div style="position: relative;">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="3000">
            <div class="toast-header bg-danger text-white">
                <strong class="mr-auto">Diqqat!</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body bg-light text-dark">
                Mahsulot o'chirildi!
            </div>
        </div>
    </div>
</div>

<!-- Product Details Modal -->
<div class="modal fade" id="productDetailsModal" tabindex="-1" role="dialog" aria-labelledby="productDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDetailsModalLabel">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Product details will be dynamically populated here -->
            </div>
        </div>
    </div>
</div>

<style>
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 5px 10px;
    margin: 0 2px;
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    background-color: #f8f9fa;
    color: #1976D2;
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #e9ecef;
}
/* Customize the tooltip */
.tooltip-inner {
    background-color: rgba(0, 0, 0, 0.8); /* Adjust transparency here */
    color: #fff; /* Tooltip text color */
}

/* Customize the tooltip arrow */
.tooltip.bs-tooltip-top .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: rgba(0, 0, 0, 0.8); /* Adjust transparency here */
}
</style>
{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function () {
        // Initialize tooltips
        $('[data-tooltip]').each(function () {
            $(this).tooltip({
                title: $(this).data('tooltip')
            });
        });
    });
</script>
<style>
  
</style>
{% endblock %}